@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Instructor


<h1 class="text-center">Home</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Exams</h5>
                    <p class="card-text">Generate new Exam, Show your exams in different courses</p>
                    <a asp-action="Exams" asp-controller="Instructor" class="btn btn-primary btn-block">Go to Exams</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">Show all students, enroll them in courses, and add new ones</p>
                    <a asp-action="GetAllStudent" asp-controller="User" class="btn btn-primary btn-block">Go to Students</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Add, Edit, Delete Courses and topics associated with them</p>
                    <a href="/Course/Index" class="btn btn-primary btn-block">Go to Courses</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Departments</h5>
                    <p class="card-text">Add, Edit, Delete Departments</p>
                    <a href="/Department/Index" class="btn btn-primary btn-block">Go to Departments</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Questions</h5>
                    <p class="card-text">Manage questions for exams: Add, edit, delete</p>
                    <a href="/Question/Index" class="btn btn-primary btn-block">Go to Questions</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>
                    <p class="card-text">View and generate reports</p>
                    <a href="/Report/Index" class="btn btn-primary btn-block">Go to Reports</a>
                </div>
            </div>
        </div>
    </div>
</div>
