@model Student
@{
    ViewData["Title"] = "AddStudent";
    var depts = new SelectList(ViewBag.Departments, "DeptId", "DeptName");
}

<h1>Add New Student</h1>

<section class="mt-5">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form asp-action="AddStudent" method="post">
                    <input asp-for="Id" hidden value="123" />

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" asp-for="Fname">First name</label>
                                <input type="text" asp-for="Fname" id="form3Example1" class="form-control" />
                              
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label class="form-label" asp-for="Lname">Last name</label>
                                <input type="text" asp-for="Lname" id="form3Example2" class="form-control" />
                                
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="Email">Email address</label>
                        <input type="email" asp-for="Email" id="form3Example3" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DeptId" class="col-form-label">Department</label>
                        <select asp-for="DeptId" asp-items="@depts" class="form-control">
                            <option>--- Select Department ---</option>
                        </select>
                        <span asp-validation-for="DeptId" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="Password">Password</label>
                        <input type="password" asp-for="Password" id="form3Example4" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Add New Student
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
