@{
	ViewData["Title"] = "StudentDetails";
}

@model Student
@{
	ViewData["Title"] = "StudentDetails";
	var dept = (Department)ViewBag.Department;
}

<h1>Student Details</h1>

<section class="mt-5">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" asp-for="Fname">First name</label>
                            <input type="text" asp-for="Fname" id="form3Example1" class="form-control" readonly />
                            
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label class="form-label" asp-for="Lname">Last name</label>
                            <input type="text" asp-for="Lname" id="form3Example2" class="form-control" readonly />

                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="Email">Email address</label>
                    <input type="email" asp-for="Email" id="form3Example3" class="form-control" readonly />
                    
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="@dept.DeptName">Department</label>
                    <input type="text" asp-for="@dept.DeptName" id="form3Example4" class="form-control" readonly />
                   
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" asp-for="DoB">Date of Birth</label>
                    <input type="date" asp-for="DoB" id="form3Example5" class="form-control" readonly />
                    
                </div>

                <a asp-action="GetAllStudent" class="btn btn-primary btn-block">
                    Back To List
                </a>
            </div>
        </div>
    </div>
</section>

