@model Student
@{
    ViewData["Title"] = "Home";
}




<h1 class="text-center">Home</h1>

<div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary btn-block" href="/Student/StudentCourses">Courses</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-block" href="/Student/DueExams">Exams</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-block" href="/Student/StudentGrades">Grades</a>
        </div>
    </div>
</div>


