@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Dictionary<int, Course> courses = ViewBag.courses;
    List<Exam> exams = ViewBag.exams;
}

<h1>Grades</h1>

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Exam exam in exams)
        {
            <tr>
                <td>@courses[exam.ExamId].CourseName</td>
                <td>@exam.Score/@exam.TotalMarks</td>
            </tr>
        }
    </tbody>
</table>
<br />
<a asp-action="Home" class="btn btn-outline-secondary">Back to Home</a>

