@model Topic
@{
    ViewData["Title"] = "AddNewTopic";
    int CrsId = ViewBag.CrsId;
}
<br />
<h1>Add New Topic</h1>
<br />
<div class="card">
    <div class="card-body py-5 px-md-5">
        <form asp-action="AddNewTopic" asp-route-id="@ViewBag.CrsId" method="post">
            <!-- Text input for TopicName -->
            <div class="mb-4">
                <div class="form-outline">
                    <input hidden name="CrsId" type="text" asp-for="CrsId" id="CrsId" class="form-control" value="@CrsId" />
                    <label class="form-label" asp-for="TopicName">Topic Name</label>
                    <input type="text" asp-for="TopicName" class="form-control" id="TopicName" />
                    
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
                Add New Topic
            </button>
        </form>
    </div>
</div>
