@model Topic
@{
    ViewData["Title"] = "GetTopicById";
}

<br />
<h1>Topic Details</h1>
<br />

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        <form asp-route-Id="@Model.CrsId" asp-action="Index" method="post">
                            <!-- Text input for TopicName -->
                            <div class="mb-4">
                                <div class="form-outline">
                                    <label class="form-label" asp-for="TopicName">Topic Name</label>
                                    <input type="text" asp-for="TopicName" class="form-control" readonly />
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Back To List
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
