@model Topic
@{
    ViewData["Title"] = "UpdateTopic";
}

<br />
<h1>Update Topic</h1>
<br />
<div class="card">
    <div class="card-body py-5 px-md-5">
        <form asp-action="UpdateTopic" method="post">
            <!-- Text input for TopicId and CrsId -->
            <input hidden type="text" asp-for="TopicId" class="form-control" />
            <input hidden type="text" asp-for="CrsId" class="form-control" />

            <!-- Text input for TopicName -->
            <div class="mb-4">
                <div class="form-outline">
                    <label class="form-label" asp-for="TopicName">Topic Name</label>
                    <input type="text" asp-for="TopicName" class="form-control" />
                    
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
                Save Changes
            </button>
        </form>
    </div>
</div>
